
main{
    margin-top:100px;
    margin-bottom:100px;
}
.card-img-top{
    object-fit:cover;
    object-position: 50% 25%;
    max-width:200px;
    max-height:250px;
}
.card {
    flex-direction: row;
}
.card img {
    width: 30%;
}
