img.background {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    -webkit-filter: blur(100%); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
    object-position:50% 70px;
}
main{
    margin-top:100px;
}